<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
	<dict>
		<key>positionName</key>
		<string>ios</string>
		<key>salary</key>
		<string>10k-15k</string>
		<key>companyPosition</key>
		<string>上海</string>
		<key>companyImage</key>
		<string>image</string>
		<key>workExperimentImage</key>
		<string>image</string>
		<key>workExperiment</key>
		<string>1-3年</string>
		<key>educationImage</key>
		<string>image</string>
		<key>education</key>
		<string>大专</string>
		<key>bossimage</key>
		<string>image</string>
		<key>bossName</key>
		<string>jackly</string>
		<key>companyName</key>
		<string>联动网络</string>
		<key>bossPosition</key>
		<string>ceo</string>
		<key>companyPeople</key>
		<string>0-20人</string>
		<key>answer</key>
		<string>最近回复</string>
		<key>answeTime</key>
		<string>今日</string>
	</dict>
</array>
</plist>
